.App-card {
  margin: 0;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 300px;
  width: 240px;
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
}

.App-card:hover {
  transform: scale(1.1);
  background-color: aliceblue;
}
.App-card:active {
  transform: scale(0.98);
}
.App-card > img {
  width: 70%;
  justify-self: center;
}

.App-card > h2 {
  font-size: 300%;
  height: auto;
  margin: 0 0 0.5rem 0;
}

.App-card > .App-card-line {
  border: 1px solid grey;
  width: 80%;
  justify-self: center;
}
